*{
    padding: 0;
    margin: 0;
}
img{
    height: 300px;
}
.row{
    justify-content: space-evenly;
    gap: 10px;
    
}


.card-title{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bolder;
}
.card-subtitle{
    font-size:  1rem;
    font-weight: lighter;
}

.card-text{
    font-size: 1rem;
}
.room>p{
    font-weight: 0.7rem;
    font-weight: bold;
}
.rooms{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}
.room{
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 15px;
}
.allow{
    display: flex;
    gap: 15px; 
    height: 10%;
}

button{
    width: 20%;
}

.green{
    color: green;
}
.red{
    color: red;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 25px 0 25px 0;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
    /* text-transform: uppercase; */
    background-image: url(../statics/banner.jpg);
    background-position: center;
    background-size: cover;
}
